@use "sass:math";
@use '../../../variables';

.textAnimate {
    display: inline-block;
    opacity: 0;
    animation: fadeInDown;
    animation-duration: 0.5s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    min-width: 10px;
  }
  
  .textAnimateHover {
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;
  
    &:hover {
      animation: tada 1s;
      color: variables.$primary;
    }
  }
  
  @for $i from 1 through 52 {
    .textAnimate._#{$i} {
        animation-delay: #{0.5 + math.div($i, 12)}s;
    }
  }