@use '../../variables';

.logoContainer {
  z-index: 0;
  width: 406px;
  height: 609px;
  position: relative;
  top: -5%;
  margin: auto;
  opacity: 0;
  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(25deg) !important;
    .svgContainer {
      path {
        stroke-width: 1.5px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      .svgAContainer {
        stroke: variables.$tertiary;
      }
      .svgS1Container {
        stroke: variables.$primary;
      }
      .svgS2Container {
        stroke: variables.$primary;
      }
    }
  }

  .solidLogo {
    position: absolute;
    transform: rotateZ(25deg) !important;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    z-index: 1;
  }
}

@media screen and (max-width: 900px) {
  .logoContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    svg,
    .solidLogo {
      opacity: 0.25;
    }
  }
}

// @media screen and (max-width: 850px) {
//   .logoContainer {
//     svg,
//     .solidLogo {
//       opacity: 0.1;
//     }
//   }
// }

@media screen and (orientation: landscape) and (max-height: 750px) {
  .logoContainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 150px;
    height: 225px;
    svg,
    .solidLogo {
      opacity: 0.25;
    }
  }
}
