@use '../../variables';

.rootContainer {
  height: 100%;
  display: flex;
  position: relative;
  .page {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    .outletContainer {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      opacity: 0;
      animation: fadeIn 1s forwards;
      transform-style: preserve-3d;
      // animation-delay: 0.15s;
      .container {
        display: flex;
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
      &::before {
        content: '<html>\a    <body>';
        white-space: pre;
        font-family: variables.$quaternary_font;
        color: variables.$primary;
        font-size: 20px;
        opacity: 0.6;
        position: absolute;
        margin-top: 20px;
        line-height: 35px;
        left: 35px;
        padding-left: min(2rem, 20vw);
      }

      &.tagThemeRed {
        &::after {
          content: '    </body>\a<html>';
          white-space: pre;
          font-family: variables.$quaternary_font;
          color: variables.$primary;
          font-size: 20px;
          line-height: 35px;
          opacity: 0.6;
          position: absolute;
          left: 35px;
          bottom: 20px;
          /* margin-top: -43px; */
          // margin-left: 20px;
          // animation: fadeIn 1s 1.7s backwards;
          padding-left: min(2rem, 20vw);
        }
      }

      &.tagThemeWhite {
        &::after {
          content: '    </body>\a<html>';
          white-space: pre;
          font-family: variables.$quaternary_font;
          color: variables.$tertiary;
          font-size: 20px;
          line-height: 35px;
          opacity: 0.6;
          position: absolute;
          left: 35px;
          bottom: 20px;
          /* margin-top: -43px; */
          // margin-left: 20px;
          // animation: fadeIn 1s 1.7s backwards;
          padding-left: min(2rem, 20vw);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .rootContainer {
    flex-direction: column;
    .page {
      .outletContainer {
        &::before {
          content: '<html>\a    <body>';
          margin-top: 20px;
          left: 5px;
          padding-left: min(2rem, 20vw);
        }

        &.tagThemeRed {
          &::after {
            left: 5px;
            bottom: 20px;
            padding-left: min(2rem, 20vw);
          }
        }

        &.tagThemeWhite {
          &::after {
            content: '    </body>\a<html>';
            left: 5px;
            bottom: 20px;
            padding-left: min(2rem, 20vw);
          }
        }
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 750px) {
  .rootContainer {
    .page {
      .outletContainer {
        &::before {
          content: '<html>\a    <body>';
          margin-top: 0px;
          left: 0px;
          padding-left: min(2rem, 20vw);
          line-height: 20px;
        }

        &.tagThemeRed {
          &::after {
            left: 0px;
            bottom: 0px;
            padding-left: min(2rem, 20vw);
            line-height: 20px;
          }
        }

        &.tagThemeWhite {
          &::after {
            content: '    </body>\a<html>';
            left: 5px;
            bottom: 20px;
            padding-left: min(2rem, 20vw);
            line-height: 20px;
          }
        }
      }
    }
  }
}
