@use '../../../variables';

.mapWrapper {
  .leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: fadeInRight 1s 1.2s;
    animation-fill-mode: forwards;
    .locationPopup {
      display: flex;
      flex-direction: column;
      gap: 5px;

      color: variables.$tertiary;

      strong {
        color: variables.$primary;
        font-size: 1.5rem;
        font-weight: 700;
      }

      span {
        font-size: 1.25em;
        line-height: 1.4;
      }
    }

    .leaflet-popup-content-wrapper,
    .leaflet-popup-tip {
      background: variables.$secondary;
      color: variables.$tertiary;
    }

    .leaflet-popup-content {
      margin: 14px 18px;
    }

    .leaflet-popup-close-button {
      color: variables.$tertiary !important;

      &:hover {
        color: variables.$primary !important;
      }
    }
    .custom-marker {
      background: transparent;
      border: none;
    }

    .marker-pin {
      width: 30px;
      height: 30px;
      background: variables.$primary;
      border: 2px solid variables.$tertiary;
      border-radius: 50% 50% 50% 0;
      transform: rotate(-45deg);

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.35);
    }

    .marker-dot {
      width: 8px;
      height: 8px;
      background: variables.$secondary;
      border-radius: 50%;
    }

    .recenterButton {
      position: absolute;
      z-index: 999;
      display: flex;
      bottom: 2em;
      right: 2em;
      height: 4rem;
      width: 10rem;
      border: 2px solid variables.$primary;
      background-color: variables.$tertiary;
      border-radius: 25px;
      color: variables.$primary;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 1em;
      font-weight: 700;
      letter-spacing: 1.5px;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;
      overflow: hidden;
      svg {
        font-size: 1.5rem;
        transform: translateX(0);
        transition: all 0.5s;
      }
      .buttonText {
        display: inline-block;
        position: absolute;
        width: max-content;
        transform: translateX(12rem);
        opacity: 0;
        transition: all 0.5s;
        margin: 0;
        padding: 0 5px;
      }
      &:hover {
        width: 27rem;
        background-color: variables.$primary;
        color: variables.$tertiary;
        svg {
          transform: translateX(-11rem);
        }
        .buttonText {
          // width: 15px;
          opacity: 1;
          transform: translateX(1.5rem);
        }
      }
    }
  }
}
