$primary: rgba(161, 11, 11, 1);
$primary_25: rgba(161, 11, 11, 0.25);
$primary_50: rgba(161, 11, 11, 0.5);
$primary_60: rgba(161, 11, 11, 0.6);
$primary_75: rgba(161, 11, 11, 0.75);
$primary_80: rgba(161, 11, 11, 0.8);
$primary_95: rgba(161, 11, 11, 0.95);
$secondary: rgba(22, 26, 33, 1);
$secondary_10: rgba(22, 26, 33, 0.5);
$secondary_25: rgba(22, 26, 33, 0.5);
$secondary_50: rgba(22, 26, 33, 0.5);
$secondary_80: rgba(22, 26, 33, 0.8);
$secondary_95: rgba(22, 26, 33, 0.95);
$tertiary: rgba(247, 247, 249, 1);
$tertiary_90: rgba(247, 247, 249, 0.9);
$tertiary_75: rgba(247, 247, 249, 0.75);
$tertiary_50: rgba(247, 247, 249, 0.5);

$primary_font: 'Helvetica Neue';
$secondary_font: 'Coolvetica';
$tertiary_font: sans-serif;
$quaternary_font: 'La Belle Aurore';
